.settings-spacer {
    height: 10 px;
    display: inline-block;
}
.settings-itemgroup {
    display: table;
    width: 100%;
    background-color: rgb(255,255,255);
    margin-top: 8px;
    margin-bottom: 8px;
    border-style: solid;
    border-top-width: 1px;
    border-left-style: none;
    border-right-style: none;
    border-bottom-width: 1px;
    border-color: rgb(199,199,203);
}

.setting-header {
    padding-top: 5px;
    padding-left: 10px;
    font-size: 14px;
    font-weight: bold;
}

.settings-item-info {
    display: table-cell;
    padding-left: 10px;
    padding-top: 13px;
    padding-bottom: 13px;
    width: 100%;
    font-family: -apple-system;
    font-size: 14px;
}

.settings-item {
    display: table-row;
    background-color: rgb(255,255,255);
}

.settings-item-image {
    display: table-cell;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.settings-item-text {
    display: table-cell;
    padding-left: 10px;
    padding-top: 13px;
    padding-bottom: 13px;
    vertical-align: middle;
    white-space: nowrap;
    font-family: -apple-system;
    font-size: 14px;
}

.settings-item-last {
    display: table-cell;
    width: 100%;
    vertical-align: middle;
    text-align: right;
    color: rgb(199,199,203);
    padding-right: 10px;
    font-size: 17px;
}

.settings-item-divider {
    display: table-cell;
    margin-left: 75px;
    border-style: solid;
    border-top-width: 1px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-color: rgb(199,199,203);
}

.form-switch {
    display: inline-block;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.form-switch i {
    position: relative;
    display: inline-block;
    margin-right: .5rem;
    width: 46px;
    height: 26px;
    background-color: #e6e6e6;
    border-radius: 23px;
    vertical-align: text-bottom;
    transition: all 0.3s linear;
}

.form-switch i::before {
    content: "";
    position: absolute;
    left: 0;
    width: 42px;
    height: 22px;
    background-color: #fff;
    border-radius: 11px;
    transform: translate3d(2px, 2px, 0) scale3d(1, 1, 1);
    transition: all 0.25s linear;
}

.form-switch i::after {
    content: "";
    position: absolute;
    left: 0;
    width: 22px;
    height: 22px;
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24);
    transform: translate3d(2px, 2px, 0);
    transition: all 0.2s ease-in-out;
}

.form-switch:active i::after {
    width: 28px;
    transform: translate3d(2px, 2px, 0);
}

.form-switch:active input:checked + i::after { transform: translate3d(16px, 2px, 0); }

.form-switch input { display: none; }

.form-switch input:checked + i { background-color: #4BD763; }

.form-switch input:checked + i::before { transform: translate3d(18px, 2px, 0) scale3d(0, 0, 0); }

.form-switch input:checked + i::after { transform: translate3d(22px, 2px, 0); }