<!doctype html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="xeditable.min.css" />
    <script type="text/javascript" src="/homey.js" data-origin="settings"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.2.23/angular-mocks.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="xeditable.min.js"></script>
    <script type="text/javascript" src="idlockApp.js"></script>
</head>

<body>
    <div ng-app="idlockApp" ng-controller="myCodes" id="mycodes">
        <div id="home" class="active">
            <h3>My Codes</h3>
            <p>Here you can map a user with a key/tag code index.</p>
            <table class="table table-bordered table-hover table-condensed">
                <tr style="font-weight: bold">
                    <td style="width:25%">Name</td>
                    <td style="width:25%">Index</td>
                    <td style="width:25%">Type</td>
                    <td style="width:25%">Edit</td>
                </tr>
                <tr ng-repeat="code in codes">
                    <td>
                        <span editable-text="code.user" e-name="user" e-form="rowform" onbeforesave="checkNotEmpty($data)" e-required>
                    {{ code.user }}
                    </span>
                    </td>
                    <td>
                        <span editable-number="code.index" e-name="index" e-form="rowform" e-min="1" e-max="9" onbeforesave="checkNotEmpty($data)" e-required>
                    {{ code.index }}
                    </span>
                    </td>
                    <td>
                        <span editable-text="code.type" e-name="type" e-form="rowform" onbeforesave="checkNotEmpty($data)" e-required>
                    {{ code.type }}
                    </span>
                    </td>
                    <td style="white-space: nowrap">
                        <!-- form -->
                        <form editable-form name="rowform" onbeforesave="saveCode($data, code.id)" onaftersave="sendToHomey(codes)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == code">
                            <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">Save</button>
                            <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">Cancel</button>
                        </form>
                        <div class="buttons" ng-show="!rowform.$visible">
                            <button class="btn btn-primary" ng-click="rowform.$show()">Edit</button>
                            <button class="btn btn-danger" ng-click="removeCode($index)">Delete</button>
                        </div>
                    </td>
                </tr>
            </table>

            <button class="btn btn-default" ng-click="addCode()">Add Code</button>
        </div>
    </div>
    <script>
        function onHomeyReady(Homey) {
            Homey.ready();
            var scope = angular.element(document.getElementById('mycodes')).scope();
            console.log('SetHomey' + scope);
            scope.setHomey(Homey);
        }
    </script>
</body>

</html>