<!doctype html>
<html>

<head>
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="xeditable.min.css" />
    <link rel="stylesheet" type="text/css" href="idlockApp.css" />
    <script type="text/javascript" src="/homey.js" data-origin="settings"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.2.23/angular-mocks.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="xeditable.min.js"></script>
    <script type="text/javascript" src="idlockApp.js"></script>
</head>

<body>
    <div ng-app="idlockApp" ng-controller="myCodes" id="mycodes">
        <div id="home" class="active">
            
            <p class="setting-header" data-i18n="triggersTitle">-Triggers-</p>
            <div class="settings-itemgroup">
                <div class="settings-item">
                    <div class="settings-item-info">
                        <span data-i18n="triggerSomeoneTitle">-Trigger "Someone unlocked the door" using:-</span>
                    </div>
                </div>
                <div class="settings-item">
                    <div class="settings-item-text">
                        <span data-i18n="homey">-Homey-</span>
                    </div>
                    <div class="settings-item-last">
                        <label class="form-switch">
                            <input id="triggerHomey" type="checkbox" ng-click="saveTriggerSettings()">
                            <i></i>
                        </label>
                    </div>
                </div>
                <div class="settings-item">
                    <div class="settings-item-text">
                        <span data-i18n="code">-Code-</span>
                    </div>
                    <div class="settings-item-last">
                        <label class="form-switch">
                            <input id="triggerCode" type="checkbox" ng-click="saveTriggerSettings()">
                            <i></i>
                        </label>
                    </div>
                </div>
                <div class="settings-item">
                    <div class="settings-item-text">
                        <span data-i18n="tag">-Tag-</span>
                    </div>
                    <div class="settings-item-last">
                        <label class="form-switch">
                            <input id="triggerTag" type="checkbox" ng-click="saveTriggerSettings()">
                            <i></i>
                        </label>
                    </div>
                </div>
                <div class="settings-item">
                    <div class="settings-item-text">
                        <span data-i18n="button">-Button-</span>
                    </div>
                    <div class="settings-item-last">
                        <label class="form-switch">
                            <input id="triggerButton" type="checkbox" ng-click="saveTriggerSettings()">
                            <i></i>
                        </label>
                    </div>
                </div>
                <div class="settings-item">
                    <div class="settings-item-text">
                        <span data-i18n="auto">-Auto-</span>
                    </div>
                    <div class="settings-item-last">
                        <label class="form-switch">
                            <input id="triggerAuto" type="checkbox" ng-click="saveTriggerSettings()">
                            <i></i>
                        </label>
                    </div>
                </div>
            </div>

            <p class="setting-header" data-i18n="codesTitle">-Codes-</p>
            <div id="codes" class="settings-itemgroup">
                <table class="table table-bordered table-hover table-condensed">
                    <tr style="font-weight: bold">
                        <td style="width:25%" data-i18n="codesName">-Name-</td>
                        <td style="width:25%" data-i18n="codesIndex">-Index-</td>
                        <td style="width:25%" data-i18n="codesType">-Type-</td>
                        <td style="width:25%" data-i18n="codesEdit">-Edit-</td>
                    </tr>
                    <tr ng-repeat="code in codes">
                        <td>
                            <span editable-text="code.user" e-name="user" e-form="rowform"
                                onbeforesave="checkNotEmpty($data)" e-required>
                                {{ code.user }}
                            </span>
                        </td>
                        <td>
                            <span editable-number="code.index" e-name="index" e-form="rowform" e-min="1" e-max="99"
                                onbeforesave="checkNotEmpty($data)" e-required>
                                {{ code.index }}
                            </span>
                        </td>
                        <td>
                            <span editable-select="code.type" e-name="type" e-form="rowform"
                                e-ng-options="s.value as s.text for s in types" onbeforesave="checkNotEmpty($data)"
                                e-required>
                                {{ showType(code.type) }}
                                </a>
                        </td>
                        <!-- <td>
                            <span editable-text="code.type" e-name="type" e-form="rowform" onbeforesave="checkNotEmpty($data)" e-required>
                        {{ code.type }}
                        </span>
                        </td> -->
                        <td style="white-space: nowrap">
                            <!-- form -->
                            <form editable-form name="rowform" onbeforesave="saveCode($data, code.id)"
                                onaftersave="sendToHomey(codes)" ng-show="rowform.$visible"
                                class="form-buttons form-inline" shown="inserted == code">
                                <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary"
                                    data-i18n="codesSave">-Save-</button>
                                <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()"
                                    class="btn btn-default" data-i18n="codesCancel">-Cancel-</button>
                            </form>
                            <div class="buttons" ng-show="!rowform.$visible">
                                <button class="btn btn-primary" ng-click="rowform.$show()"
                                    data-i18n="codesEdit">-Edit-</button>
                                <button class="btn btn-danger" ng-click="removeCode($index)"
                                    data-i18n="codesDelete">-Delete-</button>
                            </div>
                        </td>
                    </tr>
                </table>
                <button class="btn btn-default" ng-click="addCode()" data-i18n="codesAddCode">-Add Code-</button>
            </div>
        </div>
    </div>
    <script>
        function onHomeyReady(Homey) {
            Homey.ready();
            var scope = angular.element(document.getElementById('mycodes')).scope();
            console.log('SetHomey' + scope);
            scope.setHomey(Homey);
        }
    </script>
</body>

</html>